BOT_TOKEN=your_bot_token_here
API_URL=http://your_server_domain_or_ip
DELIVERY_PERSON_ID=your_delivery_person_telegram_id

SECRET_KEY=your_secret_django_key
DEBUG=False
ALLOWED_HOSTS=your_server_domain_or_ip
