BOT_TOKEN=your_bot_token_here
API_URL=http://your_server_domain_or_ip
DELIVERY_PERSON_ID=your_delivery_person_telegram_id
ADMIN_ID=6261098836
ADMIN_IDS=6261098836,779171993

SECRET_KEY=your_secret_django_key
DEBUG=False
ALLOWED_HOSTS=your_server_domain_or_ip

SUPABASE_URL=https://your_project.supabase.co
SUPABASE_KEY=your_supabase_anon_key
SUPABASE_BUCKET=food-images
